/* *{ 
    padding: auto;
    
} */
#container{
    background-color: rgb(60, 210, 248);
   display: inline-block;
   width: 100%;
   text-align: center;
   /* padding: 1%,1%,1%,1%; */
}
nav{
    background-color:rgba(229, 220, 214, 0.49);
    
    margin-left: 10%;
    width: 80%;
    padding: 1%,1%,1%,1%;
    
}

article{
    
    display: inline-block;
    background-color: rgb(211, 234, 7);
    width: 75%;
    /* padding: 0%; */ 
}
aside{
    display: inline-block;
    background-color: rgb(235, 12, 19);
    width: 24%;
    /* height: 30%; */
    /* padding: 0%;  */
    
}
footer{
    background-color:rgb(16, 214, 98);
    width: 100%;
    
    /* padding: 0%,1%; */
    text-align: center;
    /* margin-top: 0%; */
    
}

.ar{
    padding: 1%;
    background-color: rgba(231, 237, 241, 0.282);
    /* border: solid; */
    width: 100px;
    
}
.as{
    padding: 3%;
    background-color: rgba(240, 248, 255, 0.329);
    /* border: solid; */
    width: 100px;
}